<!-- about.html-->

{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}

<h1>Sobre o projeto</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas sed magna sit amet semper. Mauris
    ultricies, ex quis interdum mattis, justo turpis scelerisque nulla, ut fermentum augue ante id leo. In hac
    habitasse platea dictumst. Curabitur ac sapien eleifend, convallis magna quis, posuere nunc. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus vel ornare lorem.
    Vestibulum ut risus blandit, porta enim quis, commodo justo. Proin a aliquet libero. Integer dapibus elit a
    sollicitudin ullamcorper. In interdum consequat odio non varius. Vivamus eu est nisi. Vestibulum ante ipsum
    primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum at venenatis quam. Suspendisse leo
    sapien, lacinia sodales quam et, porttitor aliquet dolor. Curabitur viverra erat nec pellentesque gravida.

    Quisque malesuada leo quam, nec porttitor turpis eleifend euismod. Duis maximus diam sed lobortis bibendum. Duis
    dapibus tellus sit amet purus rutrum, ac faucibus sem eleifend. Ut tincidunt nec ex feugiat volutpat. Sed
    pharetra imperdiet erat ut dignissim. Suspendisse eu dolor a justo sodales bibendum non id magna. Fusce vel erat
    sed arcu commodo ullamcorper vel in nisi. Proin placerat maximus vestibulum. Phasellus risus nisi, rhoncus a
    porta at, fermentum nec libero. Curabitur sodales laoreet faucibus. Fusce id leo sem. Suspendisse sagittis risus
    in tincidunt dictum.

    In tincidunt neque quis neque convallis, vel sodales enim porttitor. Phasellus mollis imperdiet erat ut
    sagittis. Integer vel luctus lectus. Aenean cursus ut velit a ultrices. Etiam gravida ultrices lorem ut
    imperdiet. Nam sed mi turpis. Vivamus vitae dolor eget mauris pharetra vulputate ut in massa. Aliquam finibus
    cursus nibh, pretium vehicula sem consectetur eget. Integer ornare arcu nec velit cursus, a mollis neque
    gravida. Mauris vel porta diam, id mollis lorem. Duis a erat nec sem molestie dictum. Cras quam nisi, imperdiet
    sit amet placerat sed, ultrices sed ante. Sed vitae euismod risus.

    Aenean in pretium tortor. Integer molestie nisl ac tristique elementum. In hac habitasse platea dictumst. In hac
    habitasse platea dictumst. Etiam laoreet vestibulum libero ac sodales. Pellentesque habitant morbi tristique
    senectus et netus et malesuada fames ac turpis egestas. Vestibulum nec sollicitudin felis. Curabitur sit amet
    odio sed elit facilisis vulputate. Aliquam malesuada purus dui, a auctor enim tristique eget. Curabitur quis
    semper leo.
</p>

{% endblock %}